* { 
  box-sizing: border-box; 
}

html{
  transition: all .5s;
  scroll-behavior: smooth;
}

body {
  font-family: "Microsoft JhengHei","Helvetica Neue";
}

a{
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

input:focus{
  outline: none;
}

h1,h2,h3,h4 {
  font-weight: 500;
}

h1 {
  font-size: $font-xxxl;
}
h2 {
  font-size: $font-xxl;
}
h3 {
  font-size: $font-xl;
}
h4 {
  font-size: $font-l;
}
h5, p {
  font-size: $font-m;
}
h6 {
  font-size: $font-m;
}
p {
  word-break: break-all;   // 如果無文字分隔符或空格就不會自動換行，這個屬性為強制換行
}
ul {
  list-style-type: none;
  padding: 0;
}

  